* {	margin: 0; padding: 0; }
body { background: #fff; font-family: Arial, '微软雅黑' }
ul li {	list-style: none; }
p { padding: 0; line-height: 24px; }
a:link, a:hover, a:visited, a:active { text-decoration: none; color: #fff; transition: all .3s; }
.img { text-align: center; }
img { display: inline-block; width:100%; }
.container { margin: 0 auto; max-width: 750px; }
.clear { content: ''; display: table; clear: both; }
.fl { float: left; }
.fr { float: right; }

.home .entry input[type=text] { display: block; margin: 0 auto; height: 36px;padding: 0 8px; line-height: 16px; font-size: 16px;color: #333;border-radius: 5px; box-sizing: border-box; font-family: Arial, '微软雅黑'; }
.home .entry select { display: block; margin: 0 auto; height: 36px; padding: 0 8px; font-size: 16px; line-height: 16px; color: #333;border-radius: 5px; font-family: Arial, '微软雅黑'; }
.home .entry input[type=checkbox] { width: 10%; margin-top: 5px; }

.top { border-bottom: 5px rgb(3, 57, 112) solid; }
.form { background: rgb(225, 237, 255); padding: 20px 0; color: rgb(3, 57, 112); }
.form form {  }
.form form .entry { width: 94%; margin: 8px 3%;  }
.form form .entry label { float: left; width: 15%; line-height: 36px; }
.form form .entry input { float: left; width: 85%; }
.form form .entry select { float: left; width: 85%; }
.form a { display: block; margin: 0 auto; background: rgb(255, 128, 0); width: 200px; text-align: center; padding: 8px 0; border-radius: 5px; }

.box { width: 90%; margin: 20px 2.5%; padding: 15px 2.5%; box-shadow:  3px 3px 3px #eee; border: 1px #eee solid; border-radius: 5px; background: #fff; color: #000; }
footer { background: rgb(3, 57, 112); padding: 15px 10px; text-align: center; color: #fff; font-size: 14px; }

@media all and ( max-width: 480px ){
.form form .entry label { width: 25%; }
.form form .entry input { width: 75%; }
.form form .entry select { width: 75%; }

}
